/* css variables: use the root pseudo selector */
/* :root {
    --square-side: 30px;
}

body {
    background-color: black;
    color: hotpink;
}

.square {
    height: var(--square-side);
    width: var(--square-side);
    border: 1px solid grey;
    border-radius: calc(var(--square-side) / 5);
    display: inline-block;
    color: white;
} */

div {
    border: 1px solid white; 
}

#container {
    width: 608px;
}

#color-palette, #my-palette {
    display: inline-block;
    width: 300px;
    height: 505px;
    overflow: hidden;
}

.square {
    display: inline-block;
    width: 28px;
    height: 28px;
    cursor: pointer;
}