/* css variables: use the root pseudo selector */
:root {
    --square-side: 30px;
}
/*
body {
    background-color: black;
    color: hotpink;
}

.square {
    height: var(--square-side);
    width: var(--square-side);
    border: 1px solid grey;
    border-radius: calc(var(--square-side) / 5);
    display: inline-block;
    color: white;
} */

/* div {
    border: 1px solid white; 
}

#container {
    width: 608px;
}

#color-palette, #my-palette {
    display: inline-block;
    width: 300px;
    height: 505px;
    overflow: hidden;
}

.square {
    display: inline-block;
    width: 28px;
    height: 28px;
    cursor: pointer;
} */

.box {
    width: var(--square-side);
    height: var(--square-side);
    display: inline-block;
}

.container {
    width: calc(var(--square-side) * 8);
    line-height: 0;
}

/* PYRAMID BONUS */
.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    /* background-color: hotpink; */
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
  }
  
  .row {
    text-align: center;
  }